<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RedisConnectionString" value="localhost:6379" />
		<add key="RedisPassword" value="Your Redis Password" />
		<add key="ElasticSearchHost" value="http://localhost:9200" />
		<add key="ElasticSearchUser" value="elastic" />
		<add key="ElasticSearchPassword" value="Your Elastic Password" />
		<add key="ElasticIndexName" value="chatredis_log" />
	</appSettings>
</configuration>